# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Environment
.env

# Data & outputs
data/
downloads/
debug/
logs/

# PDFs generados por sede
bello/
sabaneta/
laureles/
rio_negro/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
